/*===== start navbar =====*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #22282A;
}

.container {
  display: flex;
  background-color: #181A1C;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  margin-left: 100px;
}

.logo img {
  width: 100px;
  float: left;
}

.nav-list {
  display: flex;
  list-style: none;
  width: 200%;
  align-items: center;
  justify-content: space-between;
}

.nav-list ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.nav-list li a {
  margin-right: 30px;
  font-size: 1.2em;
  font-weight: 300;
  margin-right: 100px;
  text-decoration: none;
  color: #fff;
}

.nav-list a:hover {
  color: rgb(165, 119, 119);
}

.profile i {
  font-size: 50px;
  color: white;
  margin-right: 40px;
  cursor: pointer;
}

.profile i:hover {
  color: rgb(165, 119, 119);
}

@media screen and (max-width: 576px) {
  .container {
    width: 50%;
  }
}
/* =======end navbar====== */

/* start border page */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 580px;
  color: #fff;
  background: linear-gradient(to top, rgba(24, 26, 28, 1), rgba(24, 26, 28, 0)), url("asset/main1.png");
  background-size: cover;
  background-position: center;
}

.hero-info {
  padding: 6rem;
}

.hero-preview {
  max-width: 50rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
      
p {
  font-size: 18px;
}

.btn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-kiri {
  gap: 12px;
  flex: 1;
  display: flex;
}

.btn-mulai {
  padding: 10px 26px;
  border-radius: 50px;
  border: none;
  background-color: #0367DB;
  color: #fff;
}

.btn-selengkapnya {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px 26px;
  border-radius: 50px;
  border: none;
  background-color: #424242;
  color: #fff;
}

.btn-age {
  background-color: transparent;
  padding: 10px;
  border-radius: 18px;
  border: 1px solid #fff;
  color: #fff;
} 

.btn-audio {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.continue-section {
  padding: 40px 80px;
  background-color: rgb(24, 26, 28);
}

@media screen and (max-width: 576px) {
  .hero-section {
    width: 50%;
}
}
/* end border page */